* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #009688 0%, #009688 15%, #dcdbd1 15%, #dcdbd1 100%);
}

/* UTILITIES */
i {
  color: #b1b1b1;
  cursor: pointer;
  transition: color .3s;
}

i:hover {
  color: rgba(0,0,0, .6);
}

.icons i {
  padding: 0 5px;
}

.current {
  background: rgba(128,128,128, .5);
}

/* UTILITIES FLEX-BOX & GENERAL*/
.side-overall,
.side-top,
.content-header,
.content-footer {
  display: flex;
  justify-content: space-between;
}

.side-overall,
.main-user,
.content-header,
.currentChat-user{
  align-items: center;
}

.main-user,
.currentChat-user {
  display: flex;
  justify-content: flex-start;
}

.side-overall,
.content-header,
.content-footer {
  padding: 10px;
  background: #eaeaea;
}

/* GENERAL CIRCLE-BOX */
.circle-box {
 position: relative;
 background: #fff;
}

.circle-box,
.circle-box img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 0;
  border-radius: 50%;
}

.circle-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8edafc;
}

/*** LAYOUT ***/
.container {
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0,0,0, .2);
}

.side-top {
  justify-content: flex-start;
  align-items: center;
  background: #8edafc;
  height: 65px;
  padding: 10px;
}

.notification p {
  font-size: 14px;
}

.notification a {
  font-size: 12px;
  color: #4f7485;
}

/* SEARCH */
.search-chat {
  margin: 5px;
  border:  1px solid rgba(128,128,128, .1);
}

.search-chat > i {
  padding: 0 10px;
}

.inp-search {
  width: 85%;
  height: 40px;
  line-height: 40px;
  margin-left: 15px;
  border: 0;
  border-radius: 5px;
  transition: border;
  background: #fafafa;
}

/* CHAT */
.side-chatList {
  background: #fafafa;
  flex-grow: 1;
}

.chats {
  display: flex;
  background: #fff;
}

.chats-list {
  flex-grow: 1;
  background: #fff;
}

.single-chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  /* background: #fff; */
  border-top: 1px solid rgba(128,128,128, .1);
  cursor: pointer;
  transition: background .4s;
}

.single-chat:hover {
  background: rgba(128,128,128, .1);
}

.single-chat .circle-box {
  margin-right: 8px;
  background: #f2f2f2;
}

/* MAIN */
.content {
  flex-basis: 65%;
  background: lightgrey;
  display: flex;
  flex-direction: column;
}

.currentChat-user {
  flex-wrap: wrap;
}

.currentChat-user .time {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.currentChat-user .time span {
  font-size: 12px;
}

/* MESSAGGI CHAT */
.content-main {
  flex-grow: 1;
  background-image: url('../img/mine.jpg');
  padding: 20px;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.message-sent,
.message-received {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  min-width: 20%;
  max-width: 60%;
  margin: 5px 0;
  padding: 12px 8px 5px 12px;
  font-size: 15px;
}
/* INVIATI */
.message-sent {
  align-self: flex-end;
  background: lightgreen;
}

/* RICEVUTI */
.message-received {
  align-self: flex-start;
}

.message-sent p,
.message-received p {
  margin-right: 50px;
  padding: 0 60px 0px 0;
}

.message-sent span,
.message-received span {
  font-size: 9px;
  text-align: right;
  padding-right: 0;
}

/* FOOTER */
.content-footer  {
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

.content-footer i {
  color: #6b7376;
}

.content-footer i:hover {
  color: rgba(0,0,0, .4);
}

.content-footer .typing {
  flex-grow: 1;
  height: 30px;
  line-height: 30px;
  margin: 0 10px;
  padding: 0 15px;
  font-size: 14px;
  border: 0;
  border-radius: 5px;
  outline: none;
  transition: outline;
}

.content-footer .typing:focus {
  outline-style: solid;
  outline-color: rgba(144,238,144, .4);
}
