<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boolzap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>

    <div id="app" class="container d-flex">
    <!-- SIDEBAR -->
      <aside class="sidebar d-flex flex-d-col">
        <section class="side-overall d-flex align-cent">
          <div class="main-user d-flex align-cent">
            <div class="circle-box">
              <img :src="`./img/avatar${user.avatar}.jpg`" :alt="user.name">
            </div>
            <span> {{ user.name }} </span>
          </div>
    <!-- GRUPPO ICONE -->
          <div class="icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </section>
    <!-- SEARCH -->
        <section class="side-top d-flex align-cent">
          <div class="circle-box">
            <i class="fas fa-bell-slash"></i>
          </div>
          <div class="notification">
            <p class="notific-text">Ricevi notifiche di nuovi messaggi</p>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </section>
        <section class="side-chatList">
          <div class="search-chat">
            <i class="fas fa-search"></i>

            <input type="text" name="search"
              class="inp-search"
              placeholder="Cerca o inizia una nuova chat"
              v-model="searchUser"
              @keyup="searchNewUserChat"
            >

          </div>

    <!-- LISTA CHAT UTENTI -->
          <div class="chats d-flex">
            <ul class="chats-list flex-gw">
              <li :class="['single-chat d-flex', index === currentUserIndex ? 'current' : '']"
                v-for="(contact, index) in contacts"
                v-show="contact.visible"
                @click="chageUserChat(index)">
                <div class="circle-box">
                  <img :src="'./img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                </div>
                <span> {{ contact.name }}</span>
              </li>
            </ul>
          </div>
        </section>
      </aside>
    <!-- MAIN: CONTENT -->
      <main class="content d-flex flex-d-col">
        <section class="content-header d-flex align-cent">
          <div class="currentChat-user d-flex align-cent">
            <div class="circle-box">
              <img :src="'./img/avatar' + contacts[currentUserIndex].avatar + '.jpg'" :alt="contacts[currentUserIndex].name">
            </div>
            <div class="info-current-user d-flex flex-d-col">
             <h4> {{ contacts[currentUserIndex].name }} </h4>
             <span>Ultimo accesso oggi alle {{ lastAccess() }} </span>
            </div>
          </div>
      <!-- GRUPPO ICONE -->
          <div class="icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </section>

      <!-- CONTENUTO PRINCIPALE: MESSAGGI INVIATI/RICEVUTI -->
        <section class="content-main flex-gw">
          <div class="message d-flex flex-d-col"
              v-for="message in contacts[currentUserIndex].messages"
          >

            <div :class="{'message-sent': message.status == 'sent',
                  'message-received' : message.status == 'received'}"
            >

              <p> {{ message.message }}</p>
              <span> {{ message.date}} </span>
            </div>
          </div>
        </section>

    <!-- FOOTER -->
        <section class="content-footer d-flex align-cent">
          <i class="far fa-smile"></i>
          <input type="text" name="newMessage" class="typing flex-gw"
            v-model="newMessage" @keyup.enter="addNewMessage"
            placeholder="Scrivi un messaggio"
          >
          <i class="fas fa-microphone"></i>
        </section>
      </main>
    </div>













    <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js" charset="utf-8"></script>
  <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
