<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boolzap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>

    <div id="app" class="container">
      <aside class="sidebar">
        <section class="side-overall">
          <div class="main-user">
            <div class="circle-box">
              <img src="./img/avatar_io.jpg" alt="avatar_io">
            </div>
            <span> {{ user.name }} </span>
          </div>
          <div class="icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </section>
        <section class="side-top">
          <div class="circle-box">
            <i class="fas fa-bell-slash"></i>
          </div>
          <div class="notification">
            <p class="notific-text">Ricevi notifiche di nuovi messaggi</p>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </section>
        <section class="side-chatList">
          <div class="search-chat">
            <i class="fas fa-search"></i>
            <input type="text" name="search" class="inp-search" placeholder="Cerca o inizia una nuova chat">
          </div>

          <div class="chats">

            <ul class="chats-list">
              <li class="single-chat"
                v-for="(contact, index) in contacts"
                @click="chageUserChat(index)">
                <div class="circle-box">
                  <img :src="'./img/avatar' + contact.avatar + '.jpg'" alt="">
                </div>
                <span> {{ contact.name }}</span>
              </li>
            </ul>
          </div>
        </section>

      </aside>

      <main class="content">
        <section class="content-header">
          <div class="currentChat-user">
            <div class="circle-box">
              <img :src="'./img/avatar' + contacts[currentUserIndex].avatar + '.jpg'" alt="">
            </div>
            <div class="time">
             <h4> {{ contacts[currentUserIndex].name }} </h4>
             <span>Ultimo accesso oggi alle 10.35</span>
            </div>

          </div>

          <div class="icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </section>
        <section class="content-main">
          <div class="message" v-for="message in contacts[currentUserIndex].messages">
            <div :class="{'message-sent': message.status == 'sent',
                  'message-received' : message.status == 'received'}"
            >
              <p> {{ message.message }}</p>
              <span> {{ message.date}} </span>
            </div>
          </div>
        </section>
        <section class="content-footer">
          <i class="far fa-smile"></i>
          <input type="text" name="typing" class="typing" placeholder="Scrivi un messaggio">
          <i class="fas fa-microphone"></i>

        </section>

      </main>

    </div>













    <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
